<template>
    <div>
        <nav v-if="authenticated" class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <button class="btn btn-outline-dark ms-auto">
                    <a @click="logout">Log out</a>
                </button>
            </div>
        </nav>
        <router-view />
    </div>
</template>

<script>
export default {
    data() {
        return {
            authenticated: false
        };
    },

    watch: {
        '$route': {
            handler(data) {
                this.$forceUpdate();
                this.authenticated = localStorage.getItem('authenticated');
            }
        }
    },

    methods: {
        logout() {
            axios.post("/logout")
                .then((response) => {
                    localStorage.removeItem("authenticated");
                    this.$router.push({ name: "login" });
                });
        },
    },
};
</script>

<style></style>