<template>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="text-primary-emphasis text-uppercase">Task Manager</h1>
                </div>
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form v-on:submit.prevent="login">
                        <div v-if="successMsg" class="text-success mb-2">{{ successMsg }}</div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email address</label>
                            <input v-model="auth.email" type="email" id="email" class="form-control form-control-lg" />
                            <div v-if="errors.email" class="text-danger mb-2">{{ errors.email[0] }}</div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input v-model="auth.password" type="password" id="password"
                                class="form-control form-control-lg" />
                            <div v-if="errors.password" class="text-danger mb-2">{{ errors.password[0] }}</div>
                        </div>

                        <div class="d-flex mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="auth.remember" id="remember"
                                    checked />
                                <label class="form-check-label" for="remember"> Remember me </label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                        </div>

                        <div class="text-center">
                            <p>Not a member? <router-link class="btn-link" to="/auth/register">Register</router-link></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from 'axios';

export default {
    name: 'login',

    data() {
        return {
            auth: {
                email: '',
                password: '',
                remember: true,
            },
            errors: {},
            successMsg: ''
        }
    },

    methods: {
        async login() {
            this.errors = {};
            await axios.get('/sanctum/csrf-cookie');
            await axios.post('/login', this.auth)
                .then(() => {
                    localStorage.setItem('authenticated', 'true');
                    this.setUser();
                    this.successMsg = 'Succesful Login!'
                    setTimeout(() => {
                        this.$router.push({ name: localStorage.getItem('role').toLowerCase() + '/tasks' });
                    }, 2000);
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },

        async setUser() {
            await axios.get('/api/user')
                .then((response) => {
                    localStorage.setItem('role', response.data.role);
                }).catch((error) => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('authenticated');
                        this.$router.push({ name: 'login' });
                    }
                });
        }
    }
}
</script>