<template>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="text-primary-emphasis text-uppercase">Task Manager</h1>
                </div>
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form v-on:submit.prevent="register">
                        <div v-if="successMsg" class="text-success mb-2">{{ successMsg }}</div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" v-model="user.email" id="email" class="form-control form-control-lg" />
                            <div v-if="errors.email" class="text-danger mb-2">{{ errors.email[0] }}</div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" v-model="user.password" id="password" class="form-control form-control-lg" />
                            <small class="text-muted">
                                The password should contain at least 8 characters, at least one number, capital letter and at least one special character
                            </small>
                            <div v-if="errors.password" class="text-danger mb-2">{{ errors.password[0] }}</div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password_confirmation">Confirm Password</label>
                            <input type="password" v-model="user.password_confirmation" id="password_confirmation"
                                class="form-control form-control-lg" />
                            <div v-if="errors.password_confirmation" class="text-danger mb-2">{{ errors.password_confirmation[0] }}</div>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>

                        <div class="text-center">
                            <p>Already a member? <router-link class="btn-link" to="/auth/login">Login</router-link> </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            user: {
                email: '',
                password: '',
                password_confirmation: ''
            },
            errors: {},
            successMsg: null
        };
    },
    methods: {
        async register() {
            this.errors = {};
            await axios.post("/register", this.user)
                .then(() => {
                    this.successMsg = "Succesfully Registered!"
                    setTimeout(() => {
                        this.$router.push({ name: "login" });
                    }, 2000);
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>
