
<template>
    <div class="container">
        <div class="row my-4 justify-content-start">
            <div class="col-md-6">
                <button @click="goBack()" type="submit" class="btn btn-dark">
                    back
                </button>
            </div>
        </div>
        <form v-on:submit.prevent="create">
            <div v-if="successMsg" class="text-center text-success mb-2">{{ successMsg }}</div>
            <div class="row justify-content-center my-4">
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Title</label>
                    <input type="text" class="form-control" v-model="item.title">
                    <div v-if="errors.title" class="text-danger mb-2">{{ errors.title[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Description</label>
                    <textarea class="form-control" v-model="item.description"></textarea>
                    <div v-if="errors.description" class="text-danger mb-2">{{ errors.description[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Due Date</label>
                    <Datepicker placeholder="choose due date" v-model="item.due_date" :min-date="new Date()" />
                    <div v-if="errors.due_date" class="text-danger mb-2">{{ errors.due_date[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Status</label>
                    <select name="status" class="form-select" v-model="item.status">
                        <option v-for="(status, index) in statuses" :value="status.key" :key="index">
                            {{ status.name }}
                        </option>
                    </select>
                    <div v-if="errors.status" class="text-danger mb-2">{{ errors.status[0] }}</div>
                </div>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    components: { Datepicker },

    data() {
        return {
            item: {
                title: '',
                description: '',
                due_date: '',
                status: ''
            },
            statuses: [
                { name: 'In Progress', key: 'in progress' },
                { name: 'To Do', key: 'to do' },
                { name: 'Completed', key: 'completed' }
            ],
            successMsg: '',
            errors: {},
            prefix: localStorage.getItem('role').toLowerCase()
        };
    },

    methods: {
        async create() {
            await axios.post('/api/' + this.prefix + '/tasks', this.item)
                .then(() => {
                    this.errors = {};
                    this.successMsg = 'Task succesfully created';
                    setTimeout(() => {
                        this.$router.push({ name: this.prefix + '/tasks' });
                    }, 2000);
                }).catch((error) => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('authenticated');
                        this.$router.push({ name: 'login' });
                    }
                    this.errors = error.response.data.errors;
                });
        },

        goBack() {
            this.$router.push({name: this.prefix + '/tasks'});
        }
    },
};
</script>
