<template>
    <div class="container my-4">
        <div v-if="prefix === 'regular'" class="row text-end">
            <div class="col">
                <button @click="goToCreate()" class="btn btn-small btn-primary mx-1">create new</button>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-md-5">
                <label for="status">Status</label>
                <select name="status" class="form-select" v-model="filters.status" @change="page=1; getItems()">
                    <option value="all" selected>-- show all --</option>
                    <option v-for="(status, index) in statuses" :value="status.key" :key="index">{{ status.name }}</option>
                </select>
            </div>
            <div class="col-md-5">
                <label for="range">Due date range</label>
                <Datepicker name="range" placeholder="choose range" v-model="filters.range" range />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div v-if="successMsg" class="text-success mb-2">{{ successMsg }}</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="col in columns" scope="col">
                                {{ col.name }}
                            </th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="items.length" v-for="(item, index) in items" :id="item.id" :key="index">
                            <td v-for="col in columns">
                                {{ item[col.key] }}
                            </td>
                            <td>
                                <button class="btn btn-small btn-primary mx-1"
                                    @click="goToDetails(item.id)">details</button>
                                <button class="btn btn-small btn-danger"
                                    @click="showAreYouSureModal(item.id)">delete</button>
                            </td>
                        </tr>
                        <tr v-else>
                            ...no tasks...
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-3">
                <pagination v-model="page" :records="itemsLength" :per-page="perPage" @paginate="getItems()" />
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="areYouSureModal" tabindex="-1" aria-labelledby="areYouSureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="areYouSureModalLabel">Delete Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this task?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button @click="deleteItem()" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Pagination from 'v-pagination-3';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import { Modal } from "bootstrap";

export default {
    components: { Pagination, Datepicker },

    data() {
        return {
            columns: [
                { name: 'Title', key: 'title' },
                { name: 'Description', key: 'description' },
                { name: 'Due Date', key: 'due_date' },
                { name: 'Status', key: 'status' }
            ],
            items: [],
            statuses: [
                { name: 'In Progress', key: 'in progress' },
                { name: 'To Do', key: 'to do' },
                { name: 'Completed', key: 'completed' }
            ],
            itemsLength: 0,
            page: 1,
            perPage: 5,
            currentTaskId: 0,
            successMsg: '',
            filters: {
                status: 'all',
                range: []
            },
            prefix: localStorage.getItem('role').toLowerCase()
        };
    },

    mounted() {
        this.getItems();
    },

    methods: {
        async getItems() {
            await axios.get('/api/' + this.prefix + '/tasks', {
                params: {
                    page: this.page,
                    filters: this.filters
                }
            }).then((response) => {
                this.items = response.data.data;
                this.perPage = response.data.meta.per_page;
                this.itemsLength = response.data.meta.total;
            }).catch((error) => {
                if (error.response.status === 401) {
                    localStorage.removeItem('authenticated');
                    this.$router.push({ name: 'login' });
                }
            });
        },

        async deleteItem() {
            await axios.delete('/api/' + this.prefix + '/tasks/' + this.currentTaskId)
                .then(() => {
                    this.page = 1;
                    this.getItems();
                    this.hideAreYouSureModal();
                    this.successMsg = 'Task succesfully deleted';
                    setTimeout(() => {
                        this.successMsg = '';
                    }, 2000);
                })
                .catch((error) => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('authenticated');
                        this.$router.push({ name: 'login' });
                    }
                });
        },

        showAreYouSureModal(id) {
            this.currentTaskId = id;
            this.areYouSureModal = Modal.getOrCreateInstance(document.getElementById('areYouSureModal'), {});
            this.areYouSureModal.show();
        },

        hideAreYouSureModal() {
            this.areYouSureModal = Modal.getOrCreateInstance(document.getElementById('areYouSureModal'), {});
            this.areYouSureModal.hide();
        },

        goToCreate() {
            this.$router.push({ name: this.prefix + '/tasks/create' });
        },

        goToDetails(id) {
            this.$router.push({ name: this.prefix + '/tasks/details', params: { id: id } });
        }
    },

    watch: {
        'filters.range': {
            handler() {
                this.page = 1;
                this.getItems();
            }
        },
    },
};
</script>