
<template>
    <div class="container">
        <div class="row my-4 justify-content-end">
            <div class="col-md-6 text-start">
                <button @click="goBack()" type="submit" class="btn btn-dark">
                    back
                </button>
            </div>
            <div class="col-md-6 text-end">
                <button @click="editState = !editState; errors = {}" type="submit" class="btn btn-primary">
                    {{ editState ? 'Close' : 'Edit' }}
                </button>
            </div>
        </div>
        <form v-on:submit.prevent="update">
            <div v-if="successMsg" class="text-center text-success mb-2">{{ successMsg }}</div>
            <div class="row justify-content-center my-4">
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Title</label>
                    <input v-if="editState" type="text" class="form-control" v-model="item.title">
                    <p v-else>{{ item.title }}</p>
                    <div v-if="errors.title" class="text-danger mb-2">{{ errors.title[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Description</label>
                    <textarea v-if="editState" class="form-control" v-model="item.description"></textarea>
                    <p v-else>{{ item.description }}</p>
                    <div v-if="errors.description" class="text-danger mb-2">{{ errors.description[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Due Date</label>
                    <Datepicker v-if="editState" placeholder="choose due date" v-model="item.due_date" />
                    <p v-else>{{ item.due_date }}</p>
                    <div v-if="errors.due_date" class="text-danger mb-2">{{ errors.due_date[0] }}</div>
                </div>
                <div class="mb-3 col-md-7">
                    <label class="form-label fw-bold">Status</label>
                    <select v-if="editState" name="status" class="form-select" v-model="item.status">
                        <option v-for="(status, index) in statuses" :value="status.key" :key="index">
                            {{ status.name }}
                        </option>
                    </select>
                    <p v-else>{{ item.status }}</p>
                    <div v-if="errors.status" class="text-danger mb-2">{{ errors.status[0] }}</div>
                </div>
                <div v-if="editState" class="col-md-7">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    components: { Datepicker },

    data() {
        return {
            item: {
                title: '',
                description: '',
                due_date: '',
                status: ''
            },
            statuses: [
                { name: 'In Progress', key: 'in progress' },
                { name: 'To Do', key: 'to do' },
                { name: 'Completed', key: 'completed' }
            ],
            successMsg: '',
            editState: false,
            errors: {},
            prefix: localStorage.getItem('role').toLowerCase()
        };
    },

    mounted() {
        this.getItem();
    },

    methods: {
        async getItem() {
            await axios.get('/api/' + this.prefix + '/tasks/' + this.$route.params.id)
                .then(response => {
                    this.item = response.data;
                }).catch((error) => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('authenticated');
                        this.$router.push({ name: 'login' });
                    }
                });
        },

        async update() {
            await axios.put('/api/' + this.prefix + '/tasks/' + this.item.id, this.item)
                .then(() => {
                    this.editState = false;
                    this.errors = {};
                    this.successMsg = 'Task succesfully updated';
                    setTimeout(() => {
                        this.successMsg = '';
                    }, 2000);
                }).catch((error) => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('authenticated');
                        this.$router.push({ name: 'login' });
                    }
                    this.errors = error.response.data.errors;
                });
        },

        goBack() {
            this.$router.push({name: this.prefix + '/tasks'});
        }
    },
};
</script>
